.features {
    background-color: #fff;
    padding: 40px;
    overflow: auto;
}

.features h1 {
    color: #7538D4;
}

.title {
    gap: 20px;
}

.container {
    border-radius: 30px;
    backdrop-filter: blur(30px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.e-commerce, .video-editing,
.dashboard, .fb, .digital-marketing,
.development, .design, .vid-editing,
.infographic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: end;
}

.e-commerce, .development, .vid-editing {
    text-align: start;
}

.e-commerce p, .video-editing p,
.dashboard p, .fb p, .digital-marketing p,
.development p, .design p, .vid-editing p,
.infographic p {
    max-width: 700px;
}

.e-commerce img, .video-editing img,
.dashboard img, .fb img, .digital-marketing img,
.development img, .design img, .vid-editing img,
.infographic img {
    height: 100px;
}