.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 15%;
}

.nav img {
    position: absolute;
    right: 100px;
}

.nav-btns {
    display: flex;
    align-items: center;
}

.nav-btns a {
    color: #fff;
    font-size: 1rem;
    position: relative;
    border: none;
    cursor: pointer;
    padding: 10px 40px;
    text-decoration: none;
}

.btn-line {
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    transition: all .3s ease;
}

.nav-btns a:hover .btn-line {
    width: 100%;
}


@media (max-width: 798px) {
    .nav-btns {
        display: none;
    }
}