.our-services {
    background-color: #7538D4;
    color: #fff;
    padding: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    height: 100px;
}

.sections {
    display: flex;
    min-width: 300px;
}

.sections p {
    min-width: 300px;
}

.left-sec, .right-sec {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-sec img, .left-sec img {
    height: 100px;
}

.dev, .vid, .customer-service, .ads,
.fb, .unlock, .socialmedia-manager, .creative-vid,
.shooting-vid, .motion-graphics, .wordpress, .dev {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    text-align: end;
}

.vid img {
    height: 130px;
}


@media (max-width: 510px) {
    .right-sec img, .left-sec img {
        display: none;
    }
}

@media (max-width: 984px) {
    .sections {
        flex-direction: column;
        align-items: flex-end;
    }
};