@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.app {
  background-image: url("../images\ &\ logos/background-gradient-lights.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  scroll-behavior: smooth;
}