@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.app {
  background-color: #7538D4;
  overflow-x: hidden;
  scroll-behavior: smooth;
}