.video {
    background-color: #7538D4;
    height: 100vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.video h1 {
    color: #fff;
} 

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.video-container iframe {
    border-radius: 30px;
}