.video {
    background-color: #7538D4;
    height: 100vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.video h1 {
    color: #fff;
}

.video-frame {
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}